.date-picker {
    width: 196px;
}

.booba-datepicker-wrap {
    width: 200px;
    

}
.booba-datepicker-wrap table{
    border-collapse: collapse;
    width: 100%;
}

.booba-datepicker-wrap table  td {
    border: 1px solid black;
    text-align: center;
    padding: 0;

}

.booba-datepicker-wrap .next-month, .booba-datepicker-wrap .prev-month {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: block;
    color: dimgray;
    font-size: 1.3em;

}

.booba-datepicker-wrap .next-month a {
    display: block;
    width: 100%;
}

.month-name {
    text-align: center;
    width: 68%;
}

.hidden {
    display: none;
}

.calendar-table td{
    width: 14%;

}

